<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> back </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <img src="https://blogpictures.99.co/retro-400-ribu.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="https://blogpictures.99.co/retro-400-ribu.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="https://blogpictures.99.co/retro-400-ribu.jpg" />
    </ion-slide>
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">Black turtleneck top</h1>

    <h4 class="price">
      Rp.399.000
      <span class="real-price">Rp.599.000</span>
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>

        Very Good
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>

    <p>
      A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
    </p>

  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="seperator">
    <hr>
  </div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light" (click)="btnCart()" routerlink="/cart" color="success" size="small">Add to cart</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full">Buy now</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>