<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Oricraft
    </ion-title>
  </ion-toolbar>
</ion-header>


  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-header>
  <ion-toolbar>
    <ion-title>
      Oricraft
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="cart">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="https://blogpictures.99.co/retro-400-ribu.jpg"> </ion-card-subtitle>
    <ion-card-title>Kursi Kayu</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Rp.324.000
  </ion-card-content>
  <ion-button (click)="btnClicked()" routerlink="/itemdetails" color="success" size="small">Detail</ion-button>
</ion-card>
    </ion-col>

   <ion-col>
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="https://blogpictures.99.co/retro-400-ribu.jpg"> </ion-card-subtitle>
    <ion-card-title>Kursi Kayu</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Rp.324.000
  </ion-card-content>
  <ion-button color="primary" size="small">Detail</ion-button>
</ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
   <ion-col>
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="https://blogpictures.99.co/retro-400-ribu.jpg"> </ion-card-subtitle>
    <ion-card-title>Kursi Kayu</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Rp.324.000
  </ion-card-content>
  <ion-button color="primary" size="small">Detail</ion-button>
</ion-card>
    </ion-col>

   <ion-col>
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="https://blogpictures.99.co/retro-400-ribu.jpg"> </ion-card-subtitle>
    <ion-card-title>Kursi Kayu</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Rp.324.000
  </ion-card-content>
  <ion-button color="primary" size="small">Detail</ion-button>
</ion-card>
    </ion-col>

<ion-col>
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="https://blogpictures.99.co/retro-400-ribu.jpg"> </ion-card-subtitle>
    <ion-card-title>Kursi Kayu</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Rp.324.000
  </ion-card-content>
  <ion-button color="primary" size="small">Detail</ion-button>
</ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="https://blogpictures.99.co/retro-400-ribu.jpg"> </ion-card-subtitle>
    <ion-card-title>Kursi Kayu</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Rp.324.000
  </ion-card-content>
  <ion-button color="primary" size="small" >Detail</ion-button>
</ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>
