<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Oricraft
    </ion-title>
  </ion-toolbar>
</ion-header>


  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-header>
  <ion-toolbar>
    <ion-title>
      Oricraft
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="cart">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label>
    <ion-icon slot="start" name="search"></ion-icon>
  </ion-label>
  <!--keyup : akan menampilkan data setalah dicari-->
  <ion-input [(ngModel)]="q" placeholder="pencarian..."(keyup)="showitems()"></ion-input>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let item of items" detail (click)="showDetail(item.id_produk)">
      <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <img src="http://127.0.0.1:8000/gambar_produk/{{item.gambar}}"> </ion-card-subtitle>
    <ion-card-title>{{item.nama_produk}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.tipe_produk}}
    <tr>
    Rp.{{item.harga}}
  </ion-card-content>
</ion-card>
    </ion-col>

   

  </ion-row>
</ion-grid>

</ion-content>
